body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
h1{
    font-size: 50px;
    font-weight: 600;
}
#top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.orange-col{
    color: orange;

}
.half-width{
    width: 50%;
    padding: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}

.link-btn{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    background-image:linear-gradient(orange,tomato) ;

}