body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
h1{
    font-size: 50px;
    font-weight: 600;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;

}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.orange-col{
    color: orange;

}
.half-width{
    width: 50%;
    padding: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}

.link-btn{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    background-image:linear-gradient(orange,tomato) ;

}
#dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#experience-area h2{
    color: orange;
}
.exp-item{
    box-shadow: 10px 10px 40px gray;
    margin: 0px 10px;
    border-radius: 10px;
    
}
.baby-border{
    border-left: 7px solid orange;
}
.full-border{
    border-left: 7px solid blue;
}